nav ul {
	margin:0;
	padding:0;
}
nav ul li {
	list-style-type:none;
	float:left;
	display:block;
	width:150px;
	height:60px;
	text-align:center;
	line-height:55px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	border-radius:7px;
	text-decoration:none;
}
nav ul li a {
	text-decoration:none;
	color:white;
}
nav ul li:hover {
	background-color:#888;
}
nav ul li:hover a {
	display:block;
	color:white;
	text-decoration:none;
}
.jumbotron {
	text-align:center;
    	position: relative;
    	background: #000 url("grafitti1.jpg") center center;
    	width:100%;
    	height: 600px;
    	background-size: cover;
    	overflow: hidden;
    	color:black;
}
.jumbotron h1 {
	padding:10px;
}
.jumbotron p {
	padding:10px;
}
.jumboHead h3 {
	background-color:#888;
	color:white;
}
﻿.aboutHeader1 .aboutHeader2 {
	float:left;
}

.startedThis .ourMission {
	float:left;
}

.aboutFooter {
	float:left;
}
.Navigation {
	height:60px;
	text-decoration:none;
	background-color:#003cff;
	border-radius:7px;
}
.active {
	background-color:#888;
}
