nav ul {
	margin:0;
	padding:0;
}
nav ul li {
	list-style-type:none;
	float:left;
	display:block;
	width:150px;
	height:60px;
	text-align:center;
	line-height:55px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
}
nav ul li a {
	text-decoration:none;
	color:white;
}
nav ul li:hover {
	background-color:#888;
}
nav ul li:hover a {
	display:block;
	color:white;
}
.disclaimer {
  float:left;
}
.disclaimer p {
  font-size:8px;
}
.supportContact {
  text-align:center;
  background-color:#888;
  
}
.businessContact {
  text-align:center;
  background-color:#888;
}
