body {
    margin:0;
    padding: 0;
}
#Holder {
	width:980px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:21px;
	margin-bottom:21px;
}
#Header {
	height:120px;
	background-image:url('Logos/f94f6c4a-66a8-11e5-927d-1b0242340079.jpg');
	background-repeat:no-repeat;
	margin-bottom:11px;
}
#NavBar {
	height:60px;
	background-color:black;
}
#Content {
	height:auto;
	clear:both;
	overflow:auto;
}
#PageHeading {
	height:auto;
	padding:11px;
}
#ContentLeft {
	width:280px;
	float:left;
	padding-left:11px;
	padding-top:11px;
}
#ContentRight {
	width:680px;
	float:right;
}

#Footer {
	height:100px;
}
h1 {
	margin:0;
	font-weight:lighter;
	color:black;
}
h2 {
	margin:0;
	font-weight:lighter;
	color:black;
}
h6 {
	margin:0;
	font-weight:lighter;
	color:black;
	font-size:14px;
}
