nav ul {
	margin:-1;
	padding:0;
}
nav ul li {
	list-style-type:none;
	float:left;
	display:block;
	width:150px;
	height:60px;
	text-align:center;
	line-height:55px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
}
nav ul li a {
	text-decoration:none;
	color:white;
}
nav ul li:hover {
	background-color:#888;
}
nav ul li:hover a {
	display:block;
	color:white;
}
.body .Navigation {
	text-decoration:none;
	background-color:#003cff;
	display:inline;
}
.Navigation ul li a {
	display:inline-block;
}
.navActive {
	background-color:#888;
}
.jumbotron {
	text-align:center;
    position: relative;
    background: #000 url("create.jpg") center center;
    width:100%;
    height: 600px;
    background-size: cover;
    overflow: hidden;
    color:black;
}
.jumbotron h1 {
	padding:10px;
}
.jumbotron p {
	padding:10px;
}
.jumboHead h3 {
	background-color:#888;	
}
.information {
	float:left;
	clear:both;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}
.socialHeader {
	width:100%;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	padding:10px;
}
.socialHeader h3 {
	margin-left:40%;
	margin-right:40%;	
}
.homeFooter {
	background-color:#CCC;
	border:solid;
	margin-top:20px;
	border-radius:7px;
	height:auto;
	float:left;
	clear:both;
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	height:220px;
	width:100%;
}
.homeFooter p {
	margin-left:40%;
	margin-right:40%;	
}
.homeFooter h3 {
	font-weight:lighter;
	color:#666;	
}
.homeFooter .learnMore h3 {
	font-weight:lighter;
	color:#666;
}
.homeFooter ul {
	text-decoration:none;
	text-align:center;
	float:left;
	list-style:none;
	
}
.homeFooter ul li {
	text-align:center;
	text-decoration:none;
	color:black;
	list-style:none;
}
.homeFooter ul li a {
	text-decoration:none;
	color:black;
	list-style:none;	
}
.homeFooter .bottomCont ul {
	text-decoration:none;
	text-align:center;
	list-style:none;
	float:right;
}
.homeFooter .bottomCont ul li {
	text-align:center;
	text-decoration:none;
	color:black;
	list-style:none;
}
.homeFooter ul li a {
	text-decoration:none;
	color:black;
	list-style:none;
}
