.mainHeader nav ul li {
  text-decoration: none;
  display: inline;
}

.mainheader img {
    width: 100%;
    height: auto;
    margin: 2%, 0;
    border-radius: 5px;
}

.homeTop img {
  width: 100%;
  height: ;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.planOptions #Section1 {
	float:left;
}

.planOptions #Section2{
	float:left;
}

.planOptions #Section3{
	float:left;
}


