.navigation {
	text-align:center;
	height:auto;
	width:auto;
	float:right;
}
.navigaton ul li {
	text-align:center;	
}
.navigation ul li a {
	text-decoration:none;
	color:black;
	text-align:center;
}
.jumbotron {
	text-align:center;
	background-color: #888;
	background-image:url(siphons.jpg);
	height:500px;
	width:100%;
	color:black;
	font-family:"Freestyle Script", Arial;
}
.mainContent {
	margin:20px;
}
.gallery {
	border:solid;
	width:auto;
	margin:0, auto;
	padding:10px;
}
.sitefooter {
	margin:0, auto;
	text-align:center;	
}
.aboutPost {
	padding:10px;
	text-align:center;
	height:auto;
	width:auto;
	margin:0, auto;
	margin:20px;	
}
.contactInfo {
	margin:20px;
	padding:10px;
	text-align:center;	
}
.photos {
	margin:0, auto;	
}