.body {
	background-color:#26512e;
}
.navigation {
	text-align:center;
	height:auto;
	width:auto;
	float:right;
}
.navigaton ul li {
	text-align:center;	
}
.navigation ul li a {
	text-decoration:none;
	color:white;
	text-align:center;
	font-family: 'IM Fell English SC', serif;
}
.navigation ul li a:hover {
	color:black;	
}
.jumbotron {
	text-align:center;
	background-color: #888;
	background-image:url(siphons.jpg); background-repeat:no-repeat;
	background-size:cover;
	height:400px;
	width:100%;	
	color:white;
	font-family: 'IM Fell English SC', serif;
	font-size:35px;
	box-shadow: 0px 2px black;
}
.jumbotron h1 {
	line-height:1px;
	text-shadow:5px 5px black;	
}
.pageHeader {
	text-align:center;
	font-family: 'IM Fell English SC', serif;
	color:white;	
}
.mainContent {
	margin:20px;
}
.catagories {
	border:2px solid black;
	width:auto;
	margin:0, auto;
	padding:10px;
}
.top-sidebar {

	width: 18%;
	float: left;
	margin-top: 2%;
	margin-left: 3%;
	margin-bottom: 2%;
	padding: 2% 3%;
	background-color:#666;
	color:white;
	font-size: 16px;
}
